h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: chocolate;
    padding: 30px;
    width: 20%;
    color: white;
}


#header {
    width: 1250px;
    padding: 50px;
    margin-left: 500px;
}

#instructions {
    width: 1250px;
    margin-left: 420px;
}
   

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: green;
    font-weight: bold;
}

body {
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}

#instructions {
    background-color: burlywood;
    width: 40%;
    padding: 20px;
    text-align: center;
}

#random-number {
    display: inline-block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: darkgreen;
    height: 75px;
    width: 20%;
    margin-left: 575px;
    text-align: center;
    padding-top: 50px;
}

.win-loss {
    background-color: lightseagreen;
    color: blue;
    width: 70px;
    height: 50px;
    padding: 10px;
    display: inline-block;
    margin-left: 666px;
}

.crystals {
    text-align: left;
    margin-left: 500px;
    padding-top: 30px;
}

#first-crystal {
    height: 100px;
    width: 100px;
}

#second-crystal {
    height: 100px;
    width: 100px;
}

#third-crystal {
    height: 100px;
    width: 100px;
}

#fourth-crystal {
    height: 100px;
    width: 100px;
}

#total-score-is {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
    background-color: teal;
    color: white;
    width: 20%;
    text-align: center;
    margin-left: 575px;
}

#total-score {
    display: block;
    font-size: 2em;
    margin-top: 4px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: teal;
    color: white;
    height: 35px;
    width: 20%;
    margin-left: 575px;
    text-align: center;
}
